<app-admin-header></app-admin-header>

<div class="main-container">
    <div class="central-box">
        <div class="box" routerLink="/admin-employee-management">Gestão de Funcionários</div>
    </div>

    <div class="central-box">
        <div class="box" routerLink="/admin-patient-management">Gestão de Pacientes</div>
    </div>

    <div class="central-box">
        <div class="box" routerLink="/admin-schedule">Agenda</div>
    </div>

    <div class="central-box">
        <div class="box" routerLink="/admin-supervision">Supervisão</div>
    </div>
</div>

<app-footer></app-footer>