<app-header-doctor></app-header-doctor>


<div class="main-container">
    <div class="box">
        <span>Consulta do dia 01/01/2023</span>
        <label for="info">Sobre a consulta:</label>

        <textarea id="info" name="info" rows="10" cols="53">
        </textarea>
        <button>Registrar</button>
    </div>

    <div class="box">
        <h3>Consultas anteriores</h3>
        <span class="date">dia 1/1/22</span>
        <p>Lorem ipsum, dolor sit amet consectetur 
            adipisicing elit. Dicta adipisci 
            exercitationem sunt aliquam culpa provident,
             maiores itaque beatae, sapiente quam 
             repudiandae quos minus cupiditate inventore!
              Quidem 
            distinctio reprehenderit facilis dignissimos.</p>
    </div>
</div>



<app-footer-doctor></app-footer-doctor>