<label for="search">Pesquisar Paciente</label>
<input id="search" type="search" >
<button routerLink="/about-pacient">Pesquisar</button>

<label for="search">Pesquisar funcionário</label>
<input id="search" type="search" >
<button routerLink="/about-employee">Pesquisar</button>

<label for="search">Pesquisar Médico</label>
<input id="search" type="search" >
<button routerLink="/about-doctor">Pesquisar</button>

<div class="btn-group-vertical">
    <button class="btn btn-secondary" type="button" routerLink="/register-employee">Cadastrar Funcionário</button>
    <button class="btn btn-secondary" type="button" routerLink="/register-pacient">Cadastrar Paciente</button>
    <button class="btn btn-secondary" type="button" routerLink="/supervision">Supervisão</button>
    <button class="btn btn-secondary" type="button" routerLink="/register-schedule">Registrar agenda</button>
</div>