<app-header-menu></app-header-menu>

<div class="main-container">
  <h3>Cadastro do Paciente</h3>
  <form [formGroup]="patientForm">

    <div class="form-in">
      <label for="">Nome Completo</label>
      <input type="text" formControlName="name" maxlength="40" >
    </div>

    <div class="form-in">
      <label for="">Endereço</label>
      <input type="text" required>
    </div>


    <div class="form-in">
      <label for="">Estado</label>
      <select id="estado" name="estado">
        <option value="AC">Acre</option>
        <option value="AL">Alagoas</option>
        <option value="AP">Amapá</option>
        <option value="AM">Amazonas</option>
        <option value="BA">Bahia</option>
        <option value="CE">Ceará</option>
        <option value="DF">Distrito Federal</option>
        <option value="ES">Espírito Santo</option>
        <option value="GO">Goiás</option>
        <option value="MA">Maranhão</option>
        <option value="MT">Mato Grosso</option>
        <option value="MS">Mato Grosso do Sul</option>
        <option value="MG">Minas Gerais</option>
        <option value="PA">Pará</option>
        <option value="PB">Paraíba</option>
        <option value="PR">Paraná</option>
        <option value="PE">Pernambuco</option>
        <option value="PI">Piauí</option>
        <option value="RJ">Rio de Janeiro</option>
        <option value="RN">Rio Grande do Norte</option>
        <option value="RS">Rio Grande do Sul</option>
        <option value="RO">Rondônia</option>
        <option value="RR">Roraima</option>
        <option value="SC">Santa Catarina</option>
        <option value="SP">São Paulo</option>
        <option value="SE">Sergipe</option>
        <option value="TO">Tocantins</option>
        <option value="EX">Estrangeiro</option>
      </select>
    </div>

    <div class="form-in">
      <label for="">Cidade</label>
      <input type="text">
    </div>

    <div class="form-in">
      <label for="">Data de nascimento</label>
      <input type="date">
    </div>

    <div class="form-in">
      <label for="bairro">Bairro</label>
      <input type="text" required>
    </div>

    <div class="form-in">
      <label for="cep">CEP</label>
      <input type="text" name="cep" [brmasker]="{mask:'00.000-000', len:10}" required>
    </div>

    <div class="form-in">
      <label for="telefone">Telefone</label>
      <input type="tel" name="phone"  placeholder=" (55) 55555-5555" [brmasker]="{phone: true}" required>

    </div>

    <div class="form-in">
      <label for="cpf">CPF</label>
      <input type="text" name="cpf" formControlName="cpf" [brmasker]="{person: true}">
    </div>

    <div class="form-in">
      <label for="rg">RG</label>
      <input type="text" name="rg" maxlength="10" required>
    </div>

    <div class="form-in">
      <label for="sus">Num. cart. SUS</label>
      <input type="text" maxlength="15" [brmasker]="{mask:'000000000000000', len:15}">
    </div>

    <div class="form-in">
      <label for="nome">Convênio</label>
      <input type="text">
    </div>

    <div class="form-in">
      <label for="estado_civil">Estado civil</label>
      <select name="estado_civil" id="estado_civil">
        <option value=""></option>
        <option value="Solteiro">Solteiro</option>
        <option value="Casado">Casado</option>
        <option value="Separado">Separado</option>
        <option value="Divorciado">Divorciado</option>
        <option value="Viúvo">Viúvo</option>
        <option value="Amasiado">Amasiado</option>
      </select>
    </div>

    <div class="form-in">
      <label for="email">Email</label>
      <input type="email" formControlName="email">
    </div>


  </form>
  <button type="submit" (click)="post()">Cadastrar</button>

</div>

<app-footer></app-footer>