<div class="main">
    <div class="center">
      <div class="search-field">
        
        <input id="search" type="search" placeholder="Pesquisar Empresa">
        <button ><i class="fa fa-search" aria-hidden="true"></i></button>
      </div>
  
  
    </div>
    <div class="center">
      <span>Resultado da Pesquisa</span>
      <ul>
        <li routerLink="/receptionist-panel">Empresa 1</li>
        <li>Empresa 2</li>
        <li>Empresa 3</li>
        <li>Empresa 4</li>
      </ul>
  
    </div>
  </div>
  
  <app-footer></app-footer>