<app-admin-header></app-admin-header>

<div class="main-container">
    <div class="central-box">
        <div class="box" >
            <ul>
                <li>nome do medico 1 <i id="offline" class="fa fa-circle" aria-hidden="true"></i></li>
                <li>nome do medico 2 <i id="offline" class="fa fa-circle" aria-hidden="true"></i></li>
                <li>nome do medico 3 <i id="online" class="fa fa-circle" aria-hidden="true"></i></li>
            </ul>
        </div>
    </div>
</div>