<app-admin-header></app-admin-header>


<div class="main-container">
    <h3>Cadastro do Funcionário</h3>
    <form [formGroup]="employeeFormGroup">
  
      <div class="form-in">
        <label for="">Nome </label>
        <input type="text" formControlName="name" maxlength="40" minlength="5">
      </div>
      <span *ngIf="employeeFormGroup.controls['name'].errors">Campo obrigatório!</span>
  
      <div class="form-in">
        <label for="">Sobrenome</label>
        <input type="text" formControlName="surname" maxlength="40" minlength="4">
      </div>
      <span *ngIf="employeeFormGroup.controls['surname'].errors">Campo obrigatório!</span>
  
  
      <div class="form-in">
        <label for="">Endereço</label>
        <input type="text" formControlName="address" minlength="8">
      </div>
      <span *ngIf="employeeFormGroup.controls['address'].errors">Campo obrigatório!</span>
  
      <div class="form-in">
        <label for="">Número</label>
        <input type="text" formControlName="number">
      </div>
      <span *ngIf="employeeFormGroup.controls['number'].errors">Campo obrigatório!</span>
  
      <div class="form-in">
        <label for="complement">Complemento</label>
        <input type="text" formControlName="complement">
      </div>
  
  
  
      <div class="form-in">
        <label for="UF">Estado</label>
        <select formControlName="UF" name="UF" id="UF">
          <option value="AC">Acre</option>
          <option value="AL">Alagoas</option>
          <option value="AP">Amapá</option>
          <option value="AM">Amazonas</option>
          <option value="BA">Bahia</option>
          <option value="CE">Ceará</option>
          <option value="DF">Distrito Federal</option>
          <option value="ES">Espírito Santo</option>
          <option value="GO">Goiás</option>
          <option value="MA">Maranhão</option>
          <option value="MT">Mato Grosso</option>
          <option value="MS">Mato Grosso do Sul</option>
          <option value="MG">Minas Gerais</option>
          <option value="PA">Pará</option>
          <option value="PB">Paraíba</option>
          <option value="PR">Paraná</option>
          <option value="PE">Pernambuco</option>
          <option value="PI">Piauí</option>
          <option value="RJ">Rio de Janeiro</option>
          <option value="RN">Rio Grande do Norte</option>
          <option value="RS">Rio Grande do Sul</option>
          <option value="RO">Rondônia</option>
          <option value="RR">Roraima</option>
          <option value="SC">Santa Catarina</option>
          <option value="SP">São Paulo</option>
          <option value="SE">Sergipe</option>
          <option value="TO">Tocantins</option>
          <option value="EX">Estrangeiro</option>
        </select>
  
      </div>
  
      <div class="form-in">
        <label for="">Cidade</label>
        <input type="text" formControlName="city" minlength="5">
      </div>
      <span *ngIf="employeeFormGroup.controls['city'].errors">Campo obrigatório!</span>
  
  
      <div class="form-in">
        <label for="">Data de nascimento</label>
        <input type="date" formControlName="date">
      </div>
      <span *ngIf="employeeFormGroup.controls['date'].errors">Campo obrigatório! </span>
  
  
      <div class="form-in">
        <label for="bairro">Bairro</label>
        <input  type="text" formControlName="district" minlength="5">
      </div>
      <span *ngIf="employeeFormGroup.controls['district'].errors">Campo obrigatório!</span>
  
  
      <div class="form-in">
        <label for="CEP">CEP</label>
        <input  type="text" name="CEP" [brmasker]="{mask:'00.000.000', len:10}" minlength="10" formControlName="CEP" 
        oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
      </div>
      <span *ngIf="employeeFormGroup.controls['CEP'].errors">Campo obrigatório!</span>
  
  
      <div class="form-in">
        <label for="phone">Telefone</label>
        <input  type="tel" name="phone" placeholder=" (55) 55555-5555" [brmasker]="{phone: true}"
          formControlName="phone">
      </div>
      <span *ngIf="employeeFormGroup.controls['phone'].errors">Campo obrigatório!</span>
  
  
      <div class="form-in">
        <label for="CPF">CPF</label>
        <input  type="text" name="CPF" formControlName="CPF" [brmasker]="{mask:'000.000.000-00', len:14}" minlength="14" 
        oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
      </div>
      <span *ngIf="employeeFormGroup.controls['CPF'].errors">Campo obrigatório!</span>
  
  
      <div class="form-in">
        <label for="RG">RG</label>
        <input  type="text" name="RG" maxlength="10" formControlName="RG" minlength="10"
        oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
      </div>
      <span *ngIf="employeeFormGroup.controls['RG'].errors">Campo obrigatório!</span>
  
  
      <div class="form-in">
        <label for="SUS">Num. cart. SUS</label>
        <input formControlName="SUS" name="SUS"  type="text" maxlength="15" [brmasker]="{mask:'000000000000000', len:15}"
        oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
      </div>
  
      <div class="form-in">
        <label for="health_insurance_name">Convênio</label>
        <input formControlName="health_insurance_name" name="health_insurance_name" type="text">
      </div>
  
      <div class="form-in">
        <label for="health_insurance_number">Número do Convênio</label>
        <input formControlName="health_insurance_number" name="health_insurance_number" type="text">
      </div>
  
      <div class="form-in">
        <label for="mother_name">Nome da mãe</label>
        <input formControlName="mother_name" name="mother_name" type="text">
      </div>
  
      <div class="form-in">
        <label for="marital_status">Estado civil</label>
        <select formControlName="marital_status" name="marital_status" id="marital_status">
          <option value=""></option>
          <option value="Solteiro">Solteiro</option>
          <option value="Casado">Casado</option>
          <option value="Separado">Separado</option>
          <option value="Divorciado">Divorciado</option>
          <option value="Viúvo">Viúvo</option>
          <option value="Amasiado">Amasiado</option>
        </select>
      </div>
  
      <div class="form-in">
        <label for="gender">Gênero</label>
        <select formControlName="gender" name="gender" id="gender">
          <option value="male">Masculino</option>
          <option value="female">Feminino</option>
          <option value="undefined">Não informar</option>
        </select>
      </div>
  
      <div class="form-in">
        <label for="email">Email</label>
        <input type="email" formControlName="email">
      </div>
      <span *ngIf="employeeFormGroup.controls['email'].errors">Campo obrigatório!</span>
      <span id="valid-email" *ngIf="employeeFormGroup.controls['email'].errors?.['email']">
        E-mail inválido
    </span>
  
    </form>
    <button type="submit">Criar</button>
  
  </div>
  



<app-footer></app-footer>
