<app-admin-header></app-admin-header>

<div class="main">
    <div class="center row">
        <h6>Adicionar funcionário</h6>
        <button routerLink="/admin-create-employee"><i class="fa fa-plus" aria-hidden="true"></i></button>
    </div>
    <div class="center">
        <div class="search-field">
            <input  id="search" type="search" placeholder="Pesquisar Funcionário">
            <button><i class="fa fa-search" aria-hidden="true"></i></button>
        </div>        
    </div>
    
    
    <div class="center">
        <span>Resultado da Pesquisa</span>
        <ul >
            <li >Nome do Funcionario 1 <div class="icons-1"><i class="fa fa-pencil" aria-hidden="true"></i>  <i class="fa fa-trash" aria-hidden="true"></i></div></li> 
            <li >Nome do Funcionario 2 <div class="icons-1"><i class="fa fa-pencil" aria-hidden="true"></i>  <i class="fa fa-trash" aria-hidden="true"></i></div></li> 
            <li >Nome do Funcionario 3 <div class="icons-1"><i class="fa fa-pencil" aria-hidden="true"></i>  <i class="fa fa-trash" aria-hidden="true"></i></div></li> 
            <li >Nome do Funcionario 4 <div class="icons-1"><i class="fa fa-pencil" aria-hidden="true"></i>  <i class="fa fa-trash" aria-hidden="true"></i></div></li> 
            <li >Nome do Funcionario 5 <div class="icons-1"><i class="fa fa-pencil" aria-hidden="true"></i>  <i class="fa fa-trash" aria-hidden="true"></i></div></li>        
          </ul>
    </div>
    
    </div>

<app-footer></app-footer>