<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">14:00</h5>
      <h6 class="card-subtitle mb-2 text-muted">nome do paciente</h6>
      <p class="card-text">alguma descrição do paciente</p>
      <a href="#" class="card-link">iniciar camera</a>
      <a href="#" class="card-link">cancelar</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">16:00</h5>
      <h6 class="card-subtitle mb-2 text-muted">nome do paciente</h6>
      <p class="card-text">alguma descrição do paciente</p>
      <a href="#" class="card-link">iniciar camera</a>
      <a href="#" class="card-link">cancelar</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">17:00</h5>
      <h6 class="card-subtitle mb-2 text-muted">nome do paciente</h6>
      <p class="card-text">alguma descrição do paciente</p>
      <a href="#" class="card-link">iniciar camera</a>
      <a href="#" class="card-link">cancelar</a>
    </div>
  </div>
