.main-container{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    min-height: 90vh;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 3;
}

.box{
    display: flex;
    flex-direction: column;
    min-height: 325px;
    width: 650px;
    border: 1px solid rgb(10,80,107);
    border-radius: 10px;
    margin-top: 30px;
    box-shadow: rgb(10,80,107) 3px 3px 10px ;
    flex-wrap: wrap;
    flex-shrink: 3;
    margin-bottom: 20px;
}

.box h3 {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    margin: 20px;
    color: rgb(10,80,107);
}
.box h3 i{
    cursor: pointer;
    font-size: 30px;
}
.box h3 i:hover{
    color: rgb(19,158,188);
}

.box li{
    color: rgb(10,80,107);
    text-transform: capitalize;
    display: flex;
    margin: 10px;

}
.box i{
    cursor: pointer;
    font-size: 50px;
    color: rgb(10,80,107);
    align-self: center;
    justify-self: center;
}
.box i:hover{
    color: rgb(19,158,188);
}

.box li{
    color: rgb(10,80,107);
    text-transform: capitalize;
    display: flex;
    margin: 10px;

}

.box input{
    color: rgb(10,80,107);
    width: 400px;
    padding: 10px;
    
    margin: 5px;
    align-self: center;
    border-radius: 3px;
    font-size: 15px;
}

.box table {
    margin-left: 15px;
    margin-bottom: 15px;
    margin-right: 10px;

}
.box tr{
    color: rgb(10,80,107);
    text-align: start;
    padding: 20px;
}
.box tr:hover{
    background-color: rgb(19,158,188);
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
}
td a{
    text-decoration: underline;
}
td i{
    font-size: 24px;
}


input[type='file'] {
    display: none
}

.box td label:hover{
    background-color: #fff;
    color: rgb(10,80,107);
}
.box td a{
    text-decoration: underline;
}
.box td i{
    font-size: 24px;
    color: rgb(10,80,107);
    cursor: pointer;
}
.box td i:hover{
    color: #fff;
}
.request{
    width: 98%;
}
.box .request input{
    width: 98%;
    font-size: 12px;
    font-weight: 700;
    padding: 3px;
    border-radius: 3px;
    border: 1px solid rgb(10,80,107);
}
.box .request select{
    width: 98%;
    padding: 3px;
    color: rgb(10,80,107);
    border-radius: 3px;
    border: 1px solid rgb(10,80,107);
}

.box .request select option{
    padding: 3px;
    color: rgb(10,80,107);
    border-radius: 3px;
    border: 1px solid rgb(10,80,107);
}

.box .request .buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    margin-right: 5px;
}

.box .request .buttons button{
    width: 130px;
    padding: 2px;
    background-color: rgb(10,80,107);
    color: #fff;
    border-radius: 3px;
    border: 1px solid rgb(10,80,107);
    font-weight: 700;
}
.box .request .buttons button:hover{
    background-color: #fff;
    color: rgb(10,80,107);
}

.box .request .buttons label{
    width: 130px;
    padding: 2px;
    background-color: rgb(10,80,107);
    color: #fff;
    border-radius: 3px;
    border: 1px solid rgb(10,80,107);
    font-weight: 700;
    text-align: center;
    margin-top: 3px;
}
.box .request .buttons label:hover{
    background-color: #fff;
    color: rgb(10,80,107);
}
.box tr:hover{
    background-color: rgb(19,158,188);
    color: #fff;
    transition: 0.3s;
}

  @media (max-width: 917px){
    
    .main-container{
        flex-direction: column;
        align-items: center;
    }
    
    .box{
        margin-bottom: 20px;
        margin-top: 120px;
        width: 350px;
    }
    .box input{
        width: 340px;
    }
    
    .box{
        min-width: 30px
    }
    .box table{
        margin-left: 5px;
        width: 340px;
    }
    .request{
        width: 350px;
    }
    .box .request select{
        width: 80%;
    }
    .box .request input{
        width: 80%;

    }
    .box .request .buttons button{
        width: 90px;
    }
    .box .request .buttons label{
        width: 90px;
    }
}