.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}

.consultations-box{
    border: 1px solid rgb(10,80,107);
    box-shadow: rgb(10,80,107) 3px 3px 10px ;
    border-radius: 10px;
    margin-top: 30px;
    color: rgb(10,80,107);
    font-size: 30px;
    cursor: pointer;
    font-weight: bold;
    min-width: 500px;

}
.consultations-box ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    padding: 10px;
}
.consultations-box ul li{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 3px;
    padding: 5px;
    font-weight: 100;
    font-size: 18px;
    align-items: center;
}
.consultations-box ul li .button{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    border: rgb(10,80,107) 1px solid;
    border-radius: 3px;
    font-size: 18px;
    padding: 10px;
    background-color: rgb(10,80,107);
    color: #fff;
    font-weight: 100;

}
.consultations-box ul li .button i{
    margin-right: 5px;
}
.consultations-box ul li .button:hover{
    background-color: rgb(82,147,175);
    border: #fff 1px solid;
}
.consultations-box ul li:hover{
    background-color: rgb(19, 157, 188);
    color: #fff;
    transition: 0.3s;
    border-radius: 3px;
}
@media (max-width: 600px){
    .main-container{
        min-height: 70vh;
    }
    .consultations-box{
        min-width: 350px;
    }
    
}