
<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">especialidade da consulta</h5>
      <h6 class="card-subtitle mb-2 text-muted">Dia e Horario da consulta</h6>
      <p class="card-text">alguma descrição do paciente</p>
      <a href="#" class="card-link">iniciar camera</a>
      <a href="#" class="card-link">cancelar</a>
    </div>
  </div>

<div class="btn-group-vertical">
    <button class="btn btn-secondary" type="button" routerLink="/">agendar consulta?</button>
    <button class="btn btn-secondary" type="button" routerLink="/">chat?</button>

</div> 
