<app-header-menu></app-header-menu>

<div class="mainbody">
    <div class="container">

        <div  *ngFor="let day of counter;">
            <div class="card">
                <a>
                    <div class="face face1">
                        <div class="content">

                            <h3></h3>

                        </div>
                    </div>
                    <div class="face face2">
                        <div class="content">
                            <p>horario e paciente</p>
                            <p>horario e paciente</p>

                        </div>
                    </div>
                </a>
            </div>
        </div>

    </div>
</div>

<app-footer></app-footer>