<app-header-menu></app-header-menu>


<div class="main-container">
    <div class="box">
        <span class="date">Consulta do dia 01/01/2023</span>
        <p>Lorem ipsum, dolor sit amet consectetur 
            adipisicing elit. Dicta adipisci 
            exercitationem sunt aliquam culpa provident,
             maiores itaque beatae, sapiente quam 
             repudiandae quos minus cupiditate inventore!
              Quidem 
            distinctio reprehenderit facilis dignissimos.</p>
    </div>
</div><app-footer></app-footer>