<p>about-patient works!</p>
<div class="btn-group-vertical">
    <button class="btn btn-secondary" type="button" routerLink="/patient-schedule">Vizualizar consulta e agenda</button>
    <button class="btn btn-secondary" type="button" routerLink="/patient-schedule-register">Agendar consulta</button>
    <button class="btn btn-secondary" type="button" routerLink="/chat">Chat</button>
    <button class="btn btn-secondary" type="button" >Acesso remoto</button>
    <button class="btn btn-secondary" type="button" >Liberar camera</button>
</div> 