.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo img {
width: 300px;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    margin: 1rem;
}