body{
    display: flex;
}

nav {
    background-color: rgb(10,80,107);
    box-shadow: rgb(10,80,107) 3px 3px 10px;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-shrink:2;
    justify-content: space-around;
    width: 100%;
    height: 60px;
    align-items: center;
}

.logo-empresa{
    border: 0px solid #fff;
    width: 100px;    
    margin-right: 10px;
}

.logo-empresa img {
    width: 100px;    
}

ul {    
    display: flex;
    position: relative;
    flex-wrap: nowrap;
    flex-shrink: 3;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(10,80,107);
    box-shadow: rgb(10,80,107) 3px 3px 10px;
    margin: auto 0;
} 

ul li{
    display: flex;
    flex-wrap: nowrap;
}

ul li a { 
    text-decoration: none;
    color: #fff;
    border-radius: 10px;
    padding: 15px;
    border: 1px solid rgb(10,80,107);
    background-color: rgb(10,80,107);
}

#on a {
    text-decoration: none;
    color: #fff;
    border-radius: 10px;
    padding: 15px;
    border: 1px solid rgb(19,158,188);
    background-color: rgb(19,158,188);
}


ul li a:hover {
    background-color: rgb(19,158,188);
    border: 1px solid rgb(19,158,188);
    transition: 0.3s;
}


.icon{
    position: absolute;
    align-self: flex-start;   
}


input[type="checkbox"] {
    opacity: 0;
}

ul button{
    display: flex;
    width: 40px;
    height: 40px;
    margin-right: 20px;
    background-color: rgb(82,147,175);
    border: #fff;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

ul button:hover{
    background-color: rgb(19,158,188);
}

ul button i{
    color: #fff;
    font-size: 24px;
}


@media (max-width: 710px) {
    
    nav {
        flex-direction: column;
        position: relative;
        margin-bottom: 120px;
        margin-top: 150px;        
    }
    ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 60px;
    }
    .logo-empresa img{
        margin-top: 30px;
        margin-bottom: 10px;

    }

    ul li{
        
        margin-left: -20px;
        margin-bottom: 10px;
    }

    ul button{
        margin-bottom: 10px;
        margin-top: 10px;
        width: 200px;
    }
    .logo-empresa{
        margin-top: 5px;
    }
}