<app-admin-header></app-admin-header>

<div class="main">
    <div class="center">
      <div class="search-field">
        
        <input id="search" type="search" placeholder="Pesquisar Médico">
        <button ><i class="fa fa-search" aria-hidden="true"></i></button>
      </div>
  
  
    </div>
    <div class="center">
      <span>Resultado da Pesquisa</span>
      <ul>
        <li routerLink="/about-doctor">Medico 1</li>
        <li>Medico 2</li>
        <li>Medico 3</li>
        <li>Medico 4</li>
      </ul>
  
    </div>
  </div>
  
  <app-footer></app-footer>