.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.service-queue{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    border: 1px solid rgb(10,80,107);
    border-radius: 20px;
    box-shadow: rgb(10,80,107) 3px 3px 10px ;
    margin-top: 200px;
}

.service-queue ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    margin-left: -30px;
}

.service-queue ul li {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px;
    border-radius: 3px;
}
.service-queue ul li:hover{
    background-color: rgb(19,158,188);
    color: #fff;
    transition: 0.3s;
}

.dropdown-sec{
    display: flex;
    flex-direction: column;
}
.dropdown{

}