<app-header-menu></app-header-menu>

<div class="main-container">
    
    <div class="service-queue">
        <ul class="menu">
            <li><span>Nome do Paciente</span>
                <button>Atender</button>
                <ul class="submenu">
                    <li>Atender imediatamente</li>
                    <li>Tempo de preparação (X minutos)</li>
                </ul>
            
        </ul>
        <ul class="menu">
            <li><span>Nome do Paciente</span>
                <button>Atender</button>
                <ul class="submenu">
                    <li>Atender imediatamente</li>
                    <li>Tempo de preparação (X minutos)</li>
                </ul>
            
        </ul>
        <ul class="menu">
            <li><span>Nome do Paciente</span>
                <button>Atender</button>
                <ul class="submenu">
                    <li>Atender imediatamente</li>
                    <li>Tempo de preparação (X minutos)</li>
                </ul>
            
        </ul>
    </div>
</div>
<app-footer></app-footer>