
    <div class="center">
        <div class="logo"><img src="../../assets/logo.png"></div>
        <div class="login">
            <h3>
                Painel do Recepcionista
            </h3>
            <div class="form1">
          <label for="entrar">Email</label>
          <input type="text" [(ngModel)]="email" id="email" placeholder="digite seu email">
          <label for="password">Senha</label>
          <input type="password" [(ngModel)]="password" id="password" placeholder="digite sua senha">
          
          <button type="submit" (click)="login()">Entrar</button>
             </div>
        </div>
    </div>
    