<app-header-menu></app-header-menu>

<div class="main-container">
    
    <div class="sect-left">
        <div class="box">
            <h3>Informações do paciente</h3>
            <li>nome</li>
            <li>endereco</li>
            <li>estado</li>
            <li>cidade</li>
            <li>bairro</li>
            <li>telefone</li>
            <li>cpf</li>
            <li>rg</li>
            <li>sus</li>
            <li>convenio</li>
            <li>etc</li>
            <li>etc</li>
            <li>etc</li>
            <li>etc</li>
        </div>
    </div>
    
    <div class="sect-right">
        <div class="box">
                <h3>Histórico de Consultas</h3>
                <table>
                    <tr>
                        <th>Data</th>
                        <th>Nome do médico</th>
                        <th>Especialidade</th>
                    </tr>
                    <tr>
                        <td>22/05/22</td>
                        <td>João Silva</td>
                        <td>Clínico Geral</td>
                    </tr>
                    <tr>
                        <td>22/05/22</td>
                        <td>Josué</td>
                        <td>Clínico Geral</td>
                    </tr>
                </table>
        </div>
        
        <div class="box">
            <h3>Consultas agendadas</h3>
            <table>
                <tr>
                    <th>Data</th>
                    <th>Médico</th>
                    <th>Especialidade</th>
                </tr>
                <tr>
                    <td>22/05/22</td>
                    <td>João Silva</td>
                    <td>Clínico Geral</td>
                </tr>
                <tr>
                    <td>22/05/22</td>
                    <td>Josué</td>
                    <td>Clínico Geral</td>
                </tr>
            </table>
        </div>


        <div class="box">
            <h3>Exames</h3>
            <input type="file" name="upload" accept="application/pdf" />
            <table>
                <tr>
                    <th>Data</th>
                    <th>Tipo de exame</th>
                    <th>Status</th>
                </tr>
                <tr>
                    <td>22/05/22</td>
                    <td>Endoscopia</td>
                    <td><a href="https://www.buds.com.ua/images/Lorem_ipsum.pdf">Enviado <i class="fa fa-file-pdf-o" aria-hidden="true"></i></a></td>
                </tr>
                <tr>
                    <td>26/05/22</td>
                    <td>Sangue</td>
                    <td>Solicitado</td>
                </tr>
            </table>
        </div>
    </div>

</div>

<app-footer></app-footer>