.main-container{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    min-height: 90vh;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 3;
}
.first{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 3;
}
.sect-left{
    display: flex;
    flex-direction: column;
    min-width: 35%;
    flex-wrap: wrap;
    flex-shrink: 3;
}

.sect-left .box h3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px dotted rgb(10,80,107);
    color: rgb(10,80,107);
    text-align: center;

}
.sect-left .box h3 i{
    cursor: pointer;
    font-size: 20px;
}
.sect-left .box h3 i:hover{
    color: rgb(19,158,188);
}

.sect-left .box li{
    color: rgb(10,80,107);
    text-transform: capitalize;
    display: flex;
    margin: 10px;

}

.sect-right{
    display: flex;
    flex-direction: column;
    min-width: 35%;
    align-items: center;
    flex-wrap: wrap;
    flex-shrink: 3;
}
.box{
    display: flex;
    flex-direction: column;
    min-height: 325px;
    width: 450px;
    border: 1px solid rgb(10,80,107);
    border-radius: 10px;
    margin-top: 30px;
    box-shadow: rgb(10,80,107) 3px 3px 10px ;
    flex-wrap: wrap;
    flex-shrink: 3;
    
}
.box input{
    color: rgb(10,80,107);
    width: 400px;
    padding: 10px;
    
    margin: 5px;
    align-self: center;
    border-radius: 3px;
    font-size: 15px;
}
.sect-right .box h3 {
    text-align: center;
    margin: 20px;
    color: rgb(10,80,107);
}

.sect-right .box table {
    margin-left: 15px;
    margin-bottom: 15px;
    margin-right: 10px;

}
.sect-right .box tr{
    color: rgb(10,80,107);
    text-align: start;
    padding: 20px;
}
.sect-right .box tr:hover{
    background-color: rgb(19,158,188);
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
}
td a{
    text-decoration: underline;
}
td i{
    font-size: 24px;
}


input[type='file'] {
    display: none
  }

.sect-end{
    display: flex;
    justify-content: center;
    width: 100%;margin-bottom: 20px;
}
.sect-end .box{
    display: flex;
    flex-direction: column;
    min-height: 325px;
    min-width: 900px;
    border: 1px solid rgb(10,80,107);
    border-radius: 10px;
    margin-top: 30px;
    box-shadow: rgb(10,80,107) 3px 3px 10px ;
    flex-wrap: wrap;
    flex-shrink: 3;
}
.sect-end .box input{
    color: rgb(10,80,107);
    width: 400px;
    padding: 10px;
    
    margin: 5px;
    align-self: center;
    border-radius: 3px;
    font-size: 15px;
}
.sect-end .box h3 {
    text-align: center;
    margin: 20px;
    color: rgb(10,80,107);
}

.sect-end .box table {
    margin-left: 15px;
    margin-bottom: 15px;
    margin-right: 10px;

}
.sect-end .box tr{

    color: rgb(10,80,107);
    text-align: start;
    padding: 20px;
    width: 100%;
}
.sect-end .box tr:hover{
    background-color: rgb(19,158,188);
    color: #fff;
    transition: 0.3s;
}
.sect-end .box td label{
    width: 60px;
    padding: 1px;
    background-color: rgb(10,80,107);
    color: #fff;
    border-radius: 3px;
    border: 1px solid rgb(10,80,107);
    font-weight: 700;
    text-align: center;
    margin-top: 3px;
    font-size: 12px;
    cursor: pointer;

}
.sect-end .box td label:hover{
    background-color: #fff;
    color: rgb(10,80,107);
}
.sect-end .box td a{
    text-decoration: underline;
}
.sect-end .box td i{
    font-size: 24px;
    color: rgb(10,80,107);
    cursor: pointer;
}
.sect-end .box td i:hover{
    color: #fff;
}
.request{
    width: 98%;
}
.sect-end .box .request input{
    width: 98%;
    font-size: 12px;
    font-weight: 700;
    padding: 3px;
    border-radius: 3px;
    border: 1px solid rgb(10,80,107);
}
.sect-end .box .request select{
    width: 98%;
    padding: 3px;
    color: rgb(10,80,107);
    border-radius: 3px;
    border: 1px solid rgb(10,80,107);
}

.sect-end .box .request select option{
    padding: 3px;
    color: rgb(10,80,107);
    border-radius: 3px;
    border: 1px solid rgb(10,80,107);
}

.sect-end .box .request .buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    margin-right: 5px;

}

.sect-end .box .request .buttons button{
    width: 130px;
    padding: 2px;
    background-color: rgb(10,80,107);
    color: #fff;
    border-radius: 3px;
    border: 1px solid rgb(10,80,107);
    font-weight: 700;
}
.sect-end .box .request .buttons button:hover{
    background-color: #fff;
    color: rgb(10,80,107);
}

.sect-end .box .request .buttons label{
    width: 130px;
    padding: 2px;
    background-color: rgb(10,80,107);
    color: #fff;
    border-radius: 3px;
    border: 1px solid rgb(10,80,107);
    font-weight: 700;
    text-align: center;
    margin-top: 3px;
}
.sect-end .box .request .buttons label:hover{
    background-color: #fff;
    color: rgb(10,80,107);
}
.sect-end .box tr:hover{
    background-color: rgb(19,158,188);
    color: #fff;
    transition: 0.3s;
}
@media (max-width: 917px){
    
    .main-container{
        flex-direction: column;
        align-items: center;
    }
    .first{
        flex-direction: column;
        align-items: center;
    }
    .sect-left:first-child{
        margin-top: 150px;
    }
    .sect-left{
        margin-top: 30px;
        align-items: center;
        justify-content: center;
    }
    .box{
        margin-bottom: 20px;
        margin-top: 20px;
        width: 350px;
    }
    .box input{
        width: 340px;
    }
    .sect-end{
        flex-direction: column;
        align-items: center;
        width: 350px;
    }
    .sect-end .box{
        min-width: 30px
    }
    .sect-end .box table{
        margin-left: 5px;
        width: 340px;
    }
    .request{
        width: 350px;
    }
    .sect-end .box .request select{
        width: 80%;
    }
    .sect-end .box .request input{
        width: 80%;

    }
    .sect-end .box .request .buttons button{
        width: 90px;
    }
    .sect-end .box .request .buttons label{
        width: 90px;
    }
}