<app-header-menu></app-header-menu>

<div class="main-container">
    
    <div class="sect-left">
        <div class="box">
            <h3>Informações do paciente</h3>
            <li>nome</li>
            <li>endereco</li>
            <li>estado</li>
            <li>cidade</li>
            <li>bairro</li>
            <li>telefone</li>
            <li>cpf</li>
            <li>rg</li>
            <li>sus</li>
            <li>convenio</li>
            <li>etc</li>
            <li>etc</li>
            <li>etc</li>
            <li>etc</li>
        </div>
    </div>
    
    <div class="sect-right">
        <div class="box">
                <h3>Histórico de Consultas</h3>
            <li>
                <span class="day">dia tal</span>
                <span class="time">hora</span>
                <span class="doctor">nome do medico</span>
            </li>
            <li>
                <span class="day">dia tal</span>
                <span class="time">hora</span>
                <span class="doctor">nome do medico</span>
            </li>
            <li>
                <span class="day">dia tal</span>
                <span class="time">hora</span>
                <span class="doctor">nome do medico</span>
            </li>
        </div>
        
        <div class="box">
            <h3>Consultas agendadas</h3>
            <li><span class="day">dia tal</span>
                <span class="time">hora</span>
                <span class="doctor">nome do medico</span></li>
            <li><span class="day">dia tal</span>
                <span class="time">hora</span>
                <span class="doctor">nome do medico</span></li>
            <li><span class="day">dia tal</span>
                <span class="time">hora</span>
                <span class="doctor">nome do medico</span></li>
        </div>


        <div class="box">
            <h3>Exames</h3>
            <h6>DATA | TIPO DE EXAME | STATUS </h6>
            <li>11/5  | endoscopia  |  enviado(PDF)</li>
            <li>11/5  | endoscopia 2 |  Solicitado</li>
            <li>11/5  | endoscopia 3 |  enviado(PDF)</li>
        </div>
    </div>

</div>

<app-footer></app-footer>