<body>

    <nav>
        <ul>
            <div class="logo-empresa"><img src="{{logo}}" routerLink="/admin-panel" title="Painel do Administrador"></div>

            

            <div class="container-button" *ngIf="gestaoDeFuncionarios; then thenBlock2 else elseBlock2"></div>
            
            <ng-template #thenBlock2>
                <li id="on"><a type="button" routerLink="/admin-employee-management"
                        (click)="buttonOn('gestaoDeFuncionarios')">Gestão de Funcionários</a></li>
            </ng-template>
           
            <ng-template #elseBlock2>
                <li><a type="button" routerLink="/admin-employee-management" (click)="buttonOn('gestaoDeFuncionarios')">Gestão de Funcionários</a></li>
            </ng-template>

            





            <div class="container-button" *ngIf="gestaoDePacientes; then thenBlock1 else elseBlock1"></div>
            <ng-template #thenBlock1>
                <li id="on"><a type="button" routerLink="/admin-patient-management" (click)="buttonOn('gestaoDePacientes')">Gestão de Paciente</a></li>
            </ng-template>
            <ng-template #elseBlock1>
                <li><a type="button" routerLink="/admin-patient-management" (click)="buttonOn('gestaoDePacientes')">Gestão de Pacientes</a></li>
            </ng-template>




            
            


            <div class="container-button" *ngIf="cadastrarAgenda; then thenBlock4 else elseBlock4"></div>
            <ng-template #thenBlock4>
                <li id="on"><a type="button" routerLink="/admin-schedule"
                        (click)="buttonOn('cadastrarAgenda')">Agenda</a></li>
            </ng-template>
            <ng-template #elseBlock4>
                <li><a type="button" routerLink="/admin-schedule" (click)="buttonOn('cadastrarAgenda')">Agenda</a></li>
            </ng-template>



            <div class="container-button" *ngIf="supervisao; then thenBlock3 else elseBlock3"></div>
            <ng-template #thenBlock3>
                <li id="on"><a type="button" routerLink="/admin-supervision" (click)="buttonOn('supervisao')">Supervisão</a></li>
            </ng-template>
            <ng-template #elseBlock3>
                <li><a type="button" routerLink="/admin-supervision" (click)="buttonOn('supervisao')">Supervisão</a></li>
            </ng-template>



           
            <button (click)="logOut()"><i class="fa fa-sign-out" aria-hidden="true"></i>
            </button>


            
        </ul>
    </nav>
</body>