<app-header-doctor></app-header-doctor>
<div class="main-container">
    <div class="consultations-box">
        
            
            
              
        <ul class="menu">
            <h3>Consultas em andamento</h3>
            <li><span>Consunta 1</span>
                <button>Liberar Câmera<i class="fa fa-video-camera" aria-hidden="true"></i>
                </button>
                <ul class="submenu">
                    <li>Liberar câmera imediatamente</li>
                    <li>Tempo de preparação 5:00</li>
                </ul>


            


        </ul>
    </div>
</div>
<app-footer-doctor></app-footer-doctor>