/*.icon{
    z-index: 0;
    position: absolute;
    align-self: flex-start;
}
i{
    opacity: 0;
    position: absolute;
    
    align-self: flex-start;
    color: #fff;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
}

.menu{
    z-index: 1;
    display: flex;
    flex-direction: row;
    position: relative;
    flex-wrap: nowrap;
    flex-shrink: 3;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    padding: 0;
}



input[type="checkbox"] {
    opacity: 0;
}

.menu ul{
    display: flex;position: relative;
    flex-wrap: nowrap;
    flex-shrink: 3;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(10,80,107);
    box-shadow: rgb(10,80,107) 3px 3px 10px;
}

.menu ul li{
    display: flex;
    flex-wrap: nowrap;
}

.menu ul li a{
    text-decoration: none;
    color: #fff;
    border-radius: 10px;
    padding: 15px;
    border: 1px solid rgb(10,80,107);
    background-color: rgb(10,80,107);
}

.menu ul li a:hover{
    background-color: rgb(19,158,188);
    border: 1px solid rgb(19,158,188);
    transition: 0.3s;
}

.menu label{
    color: #fff;
    border-radius: 10px;
    margin-right: 10px;
    border: 1px solid rgb(10,80,107);
    background-color: rgb(10,80,107);
}

.menu input{
    border-radius: 15px;
    border: 1px solid grey;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0.6rem;
}

.menu button{
    border: 1px solid rgb(10,80,107);
    background-color: rgb(10,80,107);
    border-radius: 15px;
    width: 40px;
    padding: 0.6rem;

}

.menu button:hover{
    background-color: rgb(19,158,188);
    border: 1px solid rgb(19,158,188);
}
.menu button i{
    color: #fff;
}*/
body{
    display: flex;
}

nav {
    background-color: rgb(10,80,107);
    box-shadow: rgb(10,80,107) 3px 3px 10px;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-shrink:2;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

.logo-empresa{
    border: 1px solid #fff;
    width: 100px;
}

ul {    
    display: flex;position: relative;
    flex-wrap: nowrap;
    flex-shrink: 3;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(10,80,107);
    box-shadow: rgb(10,80,107) 3px 3px 10px;
    margin: auto 0;
} 

ul li{
    display: flex;
    flex-wrap: nowrap;
}

ul li a { 
    text-decoration: none;
    color: #fff;
    border-radius: 10px;
    padding: 15px;
    border: 1px solid rgb(10,80,107);
    background-color: rgb(10,80,107);
}

#on a {
    text-decoration: none;
    color: #fff;
    border-radius: 10px;
    padding: 15px;
    border: 1px solid rgb(19,158,188);
    background-color: rgb(19,158,188);
}


ul li a:hover {
    background-color: rgb(19,158,188);
    border: 1px solid rgb(19,158,188);
    transition: 0.3s;
}


.icon{
    position: absolute;
    align-self: flex-start;   
}

i{
    opacity: 0;
    position: absolute;
    align-self: flex-start;
    color: #fff;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
}

input[type="checkbox"] {
    opacity: 0;
}


@media (max-width: 710px) {
    label{
        width: 30px;
        height: 55px;
        
    }
    body{
        display: block;
    }
    i{color: rgb(10,80,107);
        opacity: 1;
        z-index: 1;
        position: absolute;
    }
    nav {
        flex-direction: column;
        
    }
    
    
    
    
    ul {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}